# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs temporales
logs/*.log

# Entornos / secretos
.env
.env.*
secrets.json

# Carpetas temporales locales
_tmp/
tmp/
